<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" configfailurepolicy="skip" data-provider-thread-count="2">
	<test name="Complete test run">
		<classes>
			 <class name="com.framework.runner.CucumberRunnerClass" />
		</classes>
	</test>
</suite>